<div class="container mt-5">
  <div class="row cocktails-items">
    <div class="col-6">
      <h1>Create a Cocktail !</h1>
        <%= simple_form_for(@cocktail) do |f| %>
          <div class=“form-group”>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
            <%= f.input :photo, as: :file  %>


    </div>

      <%= f.submit "Add cocktail", class: 'btn btn-dark' %>
<%= link_to "Back to the list", cocktails_path, class: "btn btn-dark" %>

  <% end %>
</div>
